/* Style sheet created by:Thomas VanScooter June 16, 2021 */

/* Style for body specifies a background color */
body {
	background-color: #AEB2B5;
}

/* Style for the container element */
#container {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

/* Style for the header element */
header {
	font-family: Verdana, Arial, sans-serif;
	margin-top: 0.2em;
	background-color: #82D3FF;
	color: #FFFFFF;
	padding: 1em;
	border-radius: 1em;
	box-shadow: .5em .5em .5em #404040;
}

/* Style for the main element  */
main {
	display: block;
	padding: 1em;
	background-color: #FFFFFF;
	border-radius: 1em;
	box-shadow: .5em .5em .5em #404040;
}

/* Style for the footer element */
footer {
	font-size: .70em;
	text-align: center;
	margin-top: 2em;
}

*{transition:all 0.3s ease-in-out;}

.container{
  clear:both;
  overflow:auto;
}

nav{float:right;}

.logo img{float:left;}

ul li{
  display: inline-block; padding:10px;
  font-size:20px; font-family:raleway;
  border-radius: 1em;
}

ul li:hover{
  color:orange;
  
}
